<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(year)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident distinctio sint inventore perspiciatis error enim officia excepturi delectus repellendus officiis ipsam iure reprehenderit, dolorem hic, possimus tempora ullam saepe accusantium!</p>
    
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(year)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident distinctio sint inventore perspiciatis error enim officia excepturi delectus repellendus officiis ipsam iure reprehenderit, dolorem hic, possimus tempora ullam saepe accusantium!</p>
    
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(year)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident distinctio sint inventore perspiciatis error enim officia excepturi delectus repellendus officiis ipsam iure reprehenderit, dolorem hic, possimus tempora ullam saepe accusantium!</p>
    
        </ul>
        <ul>
            <li>
                <h1>Trabajo 4</h1> - <h3>(year)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident distinctio sint inventore perspiciatis error enim officia excepturi delectus repellendus officiis ipsam iure reprehenderit, dolorem hic, possimus tempora ullam saepe accusantium!</p>
    
        </ul>
    </div>
    
    
    
    
    </div> 